#navContact{
    margin: auto;
    display: flex;
    background-color: red;
    color: white;
    gap:10px;
    justify-content: center;
    width: 80%;
    font-family: RobotoMedium,sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}
 #address{
    width: 15%;
    margin: auto;
    font-size: 20px; 
    font-weight: bold;  
}
#add1{
    margin-top: -30px;

}
#adminContainer{
    width: 25%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 13px 13px;

    
}
#adminDetailsContainer{
    font-family: RobotoRegular,sans-serif;
    font-size: 13px;
    letter-spacing: .3px;
    color: #000;
    Opacity: .87;
}
#adminP{
    font-family: RobotoMedium,sans-serif;
    font-size: 16px;
    color: #ed1c24;
    margin-bottom: 10px;
}
td{
    width:5%
}
.tdP{
    font-family: RobotoRegular,sans-serif;
    font-size: 13px;
    color: #000;
    Opacity: .45; 
}

#customerCare{
    width: 15%;
    margin: auto;
    margin-top: 20px;
 
}
#pC{
    margin-top: -25px;
    
}
#cust{
    color: black;
    font-weight: bold;
}
#custContainer{
    
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    grid-gap: 20px;
    
}
#custContainer > div{
    /* height: 100px; */
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 13px;
    line-height: 1px;
}
#adminDetailsContainer1{
    line-height: 0px;
}

#shippingContainer{
    background-color: #ffffff;
    margin-top: 40px;
    justify-content: center;
    /* gap: 5px; */
    display: grid;
    grid-template-columns: repeat(4,23%);
    /* border: 1px solid black; */
}
#shippingContainer>div{
    padding: 40px;
    border: 1px solid grey;
}
