#mainContainer{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,40%);
    /* border: 1px solid black;  */
    background-color: #fcfcfc;
    grid-template-areas: 
    "a b";    
}
#mainContainer>div{
    border: 1px solid black;
    height: 650px;
}
#mainContainer :nth-child(1){
    grid-area: a;
}
#mainContainer :nth-child(2){
    grid-area: b;
}