#Footer{
    width: 100%;
    display: flex;
    gap:50px;
    justify-content: space-evenly;
    margin-top: 100px;
    color: white;
    background-color: black;
    /* padding:20px; */
    padding-top: 20px;
}
#fresh{
    background-color: black;
}
.one{
   display: inline;
   font-size: 15px;
  
}
h4{
   border-width:10%;
    /* border-bottom: 1px solid red; */
    margin-bottom: 15px;
}
#header{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#foot{
    
    background-color: black;
    color: white;
}
.sty{
    font-size: 10px;
    text-align: center;
    margin-right: 10px;
}
#a{
    margin-left: 350px;
   
}
#b{
    margin-left: 100px;
}
#c{
    margin-left: 100px;
}
#d{
    margin-left: 100px;
}
#f{
    margin-left: 100px;
}
#sty{
    background-color: white;
    padding:10px;
}
#z{
   
    background-color: black;
    color: white;
}
#sma{
    display: inline;
}
#l{
    font-size: 12px;
    color:whitesmoke;
    
   
}
#l1{
  
    border-bottom: 2px solid red;   
}
#l2{
  
    border-bottom: 2px solid red;   
}
#l3{
  
    border-bottom: 2px solid red;   
}
#l4{
  
    border-bottom: 2px solid red;   
}
#l5{
  
    border-bottom: 2px solid red;   
}
#l6{
  
    border-bottom: 2px solid red;   
}

h1{
    margin-bottom: 15px;
}
#pop{
    padding-bottom: 10px;
    text-align: right;
}
.st{
   
    height: 50px;
    font-size: 14px;
    
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}

#k>img{
    display: inline;
    width:60px;
    height:60px;
}
a{
    color:red;
    text-decoration: none;
}
.st1{
   
    height: 50px;
    font-size: 14px; 
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}
.st2{
   
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}
.st3{
   
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}
.st4{
    width: 90%;
    border-bottom: 2px solid white;
    margin: auto;
    margin-top: 50px;
    margin-right: 75px;
}
#st5{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
    margin-top: 20px;
}
.st6{
   
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}
#st7{
   
    height: 50px;
    font-size: 14px;
    text-align: left;
    margin-left: 60px;
    padding:20px;
    font-display:unset;
    line-height: 30px;
    margin-right: 50px;
   
    
}
#bar{
    width:350px;
    height: 30px;
    background-color: #808080;
    color:white;
}
#tag{
    width:34px;
    height:34px;
}
#dis{
    display: flex;
}


